.header{
    background-image: url("https://images.unsplash.com/photo-1526925539332-aa3b66e35444?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=465&q=80");
    background-repeat: no-repeat;
    background-size:cover;
    color: blanchedalmond;
    background-color:black;
    text-align: center;
    padding: 10px;
}
